# Dependências principais
streamlit
python-dotenv
firebase-admin
stripe
openai>=1.7.1
pandas

# Outras dependências essenciais
requests
markdown
PyJWT
python-dateutil
pydantic

# Usando versões binárias ou alternativas sem Rust
cryptography --only-binary=:all:
bcrypt --only-binary=:all:

# Dependências comentadas que podem ser problemáticas
# python-jose[cryptography]==3.3.0

# Dependências para geração de conteúdo
crewai>=0.14.0
# groq
# black
# flake8
# isort